# Supabase Configuration
SUPABASE_URL="https://syxkloomvtudrnryvsly.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5eGtsb29tdnR1ZHJucnl2c2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MjkwODcsImV4cCI6MjA5NTIwNTA4N30.U-8dySV5RgABov49ZYBslpaxHnAJK9Rk1kARtFAsC6c"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5eGtsb29tdnR1ZHJucnl2c2x5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTYyOTA4NywiZXhwIjoyMDk1MjA1MDg3fQ.uPur1vFagKo617-3b0bBJXb-lCYw2_35cca7P0NgeBg"

# Host configuration
APP_URL="https://ais-dev-7hivmsvn7batf7c45qdgee-379426973315.asia-east1.run.app"
